TELEGRAM_BOT_TOKEN=123456789:replace_me
YOUTUBE_API_KEY=replace_me
PUBLISH_CHAT_ID=@your_channel_username_or_chat_id
BOT_USERNAME=your_bot_username
YOUTUBE_REGION_CODE=UA
YOUTUBE_RELEVANCE_LANGUAGE=uk
POLLING_TIMEOUT=30
SEARCH_MAX_RESULTS=10
CACHE_TTL_SECONDS=3600
REQUEST_TIMEOUT_SECONDS=25
DATABASE_PATH=data/music_bot.db
